	<div class="modal fade" id="editProperty" tabindex="-1" role="dialog" aria-labelledby="Edit Property" aria-hidden="true" th:attrappend="id=${property.id}">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Edit Property</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			      
	      	<form th:action="@{/property/update/}+${property.id}"  method="POST">
	          <div class="row register-form">
	            <div class="col-md-12">
	               <div class="form-group">
	                   <input type="text" name="propertyName" class="form-control"  th:value="${property.propertyName}">
	               </div>
	               <div class="form-group">
							<textarea class="form-control" name="address" rows="3">[[${property.address}]]</textarea>
	               </div>
	               <div class="form-group">
	                   <input type="text" name="noOfbeds" class="form-control" th:value="${property.noOfbeds}">
	               </div>
	               <div class="form-group">
	                   <input type="text" name="sizeOfProperty" class="form-control"  th:value="${property.sizeOfProperty}">
	               </div>
	               
	           </div>
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Update</button>
	      </div>
	    </form>
    </div>
  </div>
</div>