<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link href="/css/demo.css" rel="stylesheet"> 
	<link href="/css/login.css" rel="stylesheet"> 
</head>
<body>


		<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="">
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from managing your property</p>
                        <input type="submit" name="" value="Register"><br>
                    </div>
                    <div class="col-md-9 register-right">
                    
                    <div class="container login-container align-self-center">
				   <div class="row">
				       <div class="col-md-5 login-form-1" style="border-right: 1px solid;">
				           <h3>Login As Renter</h3>
				              <a class="btn btnSubmit" href="/login/renter">Renter Login</a>
				       </div>
				       <div class="col-md-5 login-form-1 justify-content-center">
				           <h3>Login As Tenant</h3>
				  			<a class="btn btnSubmit" href="/tenant/login">Tenant Login</a>     
				       </div>
				   </div>
				</div>
                        </div>
                    </div>
                </div>




		
               
                                       
                                      	                    
                           
 <script type="text/javascript"></script>
 </body>
</html>